.resultPage {
  background-color: #A2C7D7;

  .oneTitle {
    text-align: center;
    color: red;
    font-size: 6vw;
    margin-top: 10px;
  }

  .twoTitle {
    color: darkgoldenrod;
    font-size: 4vw;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .txtBtn {
    width: 60vw;
  }
}
